@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

body {
  background-color: #222;
  color: #eee;
  font-family: "Nunito", sans-serif !important;
  user-select: none;
}

hr {
  border: 1px solid #555;
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  color: #fc0;

  &:hover {
    color: #8c0;
  }
}
