@import url("https://fonts.googleapis.com/css2?family=Nunito&display=swap");

@mixin transition-all {
  transition: all 0.1s ease;
  -webkit-transition: all 0.1s ease;
  -moz-transition: all 0.1s ease;
  -ms-transition: all 0.1s ease;
  -o-transition: all 0.1s ease;
}

body {
  background-color: #222;
  color: #ccc;
  font-family: "Nunito", sans-serif !important;
}

hr {
  border: 1px solid #555;
  margin-top: 25px;
  margin-bottom: 25px;
}

a {
  color: #fc0;

  &:hover {
    color: #8c0;
  }
}

b,
strong {
  font-weight: bolder;
  color: #fff;
}

input {
  background-color: unset;
  color: #ccc;
  border: 0px;
  border-bottom: 1px solid white;
  color-scheme: dark;
  @include transition-all;

  &:hover {
    border-bottom: 1px solid #fc0;
    color: #fc0;
  }

  &:focus {
    outline: none;
    border-bottom: 1px solid #8c0;
    color: #8c0;
  }

  &[type="text"] {
    font-family: "Nunito", sans-serif;
  }
}

button {
  font-family: "Nunito", sans-serif;
  background-color: #555;
  color: #fff;
  border: unset;
  border-radius: 5px;
  box-shadow: #5558 0px 3px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  @include transition-all;

  &:hover {
    background-color: #fc0;
    color: #111;
    box-shadow: #fc08 0px 3px;
  }

  &:active {
    background-color: #8c0;
    box-shadow: #8c0f 0px 0px;
    transform: translateY(3px);
    -webkit-transform: translateY(3px);
    -moz-transform: translateY(3px);
    -ms-transform: translateY(3px);
    -o-transform: translateY(3px);
    color: #111;
  }
}

input:not([type="text"]):hover,
button:hover {
  cursor: pointer;
}
